*.pyc
**/*.pyc
.cache
**/__pycache__
**/.idea
**/target
*.iml
**/tmp
**/log
**/.images
.pytest_cache/
venv*/
.coverage
docker-compose.yml
docker/toxi/toxi.cfg
htmlcov/
tests/results/
docker/opbeans/node/sourcemaps/*.map
.DS_Store
node_modules
**/.vscode/settings.json
**/obj
**/bin
docker-info/
.vscode/
*.swp
*.bck

# For the BATS testing
bats-core/
target/
.tags*

# For the docs generation
.apm-its

# For the cache java dependencies
docker/java/spring/.m2
