*.pyc
**/*.pyc
.cache
**/__pycache__
**/.idea
**/target
*.iml
**/tmp
**/log
**/.images
.pytest_cache/
venv*/
.coverage
docker-compose.yml
htmlcov/
tests/results/
docker/opbeans/node/sourcemaps/*.map
.DS_Store
node_modules
**/.vscode/settings.json
**/obj
**/bin
docker-info/

# For the BATS testing
bats-core/
target/
.tags*
