attrs==19.2.0
backoff==1.10.0
backports-abc==0.5
bcrypt==3.2.0
cached-property==1.5.1
certifi==2017.11.5
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.11
coverage==4.5.1
cryptography==36.0.1
Deprecated==1.2.13
distro==1.6.0
docker==4.3.1
docker-compose==1.27.4
dockerpty==0.4.1
docopt==0.6.2
elasticsearch==7.15.2
flake8==3.9.0
funcsigs==1.0.2
future==0.16.0
googleapis-common-protos==1.54.0
grpcio==1.43.0
idna==2.6
iniconfig==2.0.0
jsonschema==2.6.0
mccabe==0.6.1
more-itertools==8.12.0
opentelemetry-api==1.11.0
opentelemetry-exporter-otlp==1.11.0
opentelemetry-exporter-otlp-proto-grpc==1.11.0
opentelemetry-exporter-otlp-proto-http==1.11.0
opentelemetry-instrumentation==0.24b0
opentelemetry-proto==1.11.0
opentelemetry-sdk==1.11.0
opentelemetry-semantic-conventions==0.30b0
packaging==21.3
paramiko==2.9.2
pluggy==0.13.1
protobuf==3.19.4
py==1.10.0
pycodestyle==2.7.0
pycparser==2.21
pyflakes==2.3.0
PyNaCl==1.5.0
pyparsing==3.0.7
pytest==6.2.5
pytest-base-url==1.4.2
pytest-html==3.2.0
pytest-metadata==2.0.4
pytest-otel==1.1.1
pytest-random-order==1.1.0
pytest-rerunfailures==11.0
pytest-selenium==3.0.0
pytest-variables==1.9.0
python-dotenv==0.21.0
PyYAML==5.3.1
requests==2.26.0
selenium==3.8.0
singledispatch==3.4.0.3
six==1.11.0
tenacity==6.3.1
texttable==0.9.1
timeout-decorator==0.4.0
toml==0.10.2
tornado==5.1
typing_extensions==4.1.1
urllib3==1.26.8
virtualenv==16.7.9
waiting==1.4.1
wcwidth==0.2.5
webium==1.2.1
websocket-client==0.54.0
wrapt==1.13.3
