attrs==17.3.0
backports-abc==0.5
certifi==2017.11.5
chardet==3.0.4
elasticsearch==6.0.0
funcsigs==1.0.2
idna==2.6
pluggy==0.6.0
py==1.5.2
pytest==3.3.1
pytest-random-order==0.5.4
PyYAML==3.12
requests==2.18.4
singledispatch==3.4.0.3
six==1.11.0
timeout-decorator==0.4.0
tornado==4.5.2
urllib3==1.22
