<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Toxi</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  #eq > span {
    height:120px; float:left; margin:15px
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $.get({
        url: window.location.origin + "/api/apps",
        contentType: "application/json",
        dataType: 'json',
        success: function(result){
            // console.log(result);
            logIt(result)
        }
    })

    function logIt(result) {
        result["proxies"].forEach(function(i){console.log(i)})
    }
    
   });
</script>

</head>
<body>
 Hi
 
</body>
</html>
